* {
  box-sizing: content-box;
}

body {
  background-color: black;
  font-family: 'Share Tech Mono',
    monospace;

}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

.bg-stars,
.bg-twinkling {
  width: 100%;
  height: 100%;
  position: absolute;
}

.bg-stars {
  background-image: url(../assets/stars.png);
  background-repeat: repeat;
  background-position: top center;
  z-index: 0;
}

.bg-twinkling {
  background-image: url(../assets/twinkling.png);
  background-color: transparent;
  background-repeat: repeat;
  background-position: top center;
  z-index: 1;

  animation: move-twink-back 200s linear infinite;
}

.planets-container {
  width: 100%;
  position: relative;
  z-index: 1;
}

.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.hero-astronaut {
  position: relative;
}

.hero-astronaut .astronaut {
  position: relative;
  z-index: 1;
}

.hero-astronaut .astronaut-line {
  position: absolute;
  margin: 0 auto;
  left: 175px;
  top: -95px;
  right: 0;
  z-index: 0;
}

.hero-astronaut .astronaut-rocket {
  position: absolute;
  margin: 0 auto;
  left: 460px;
  right: 0;
  top: -94px;
}

.hero-content {
  color: white;
  text-align: center;
}

.hero-content .title {
  letter-spacing: 2px;
  font-size: 55px;
  margin: 0;
}

.hero-content .info {
  font-size: 30px;
  margin: 0;
}

.hero-buttons {
  margin-top: 15px;
  font-size: 19px;
}

.home,
.back {
  text-transform: uppercase;
  width: 100px;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.home:hover,
.back:hover {
  background-color: #6D060A;
}

.asteroid-1 {
  width: 65px;
  margin: 0 auto;
  position: fixed;
  left: 0px;
  right: 1225px;
  top: 640px;
  bottom: 0;
}

.asteroid-2 {
  width: 20px;
  position: fixed;
  left: 0;
  right: 470px;
  top: 100px;
  bottom: 0;
  margin: 0 auto;
}

.asteroid-3 {
  width: 20px;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 120px;
  bottom: 0;
  top: 1000px;
  opacity: 0.5;
}

.asteroid-4 {
  width: 65px;
  position: fixed;
  left: 1600px;
  right: 0;
  top: 840px;
  bottom: 0;
}

@media screen and (max-width: 425px) {
  .hero-astronaut .astronaut {
    width: 200px;
  }

  .hero-astronaut .astronaut-line {
    width: 160px;
    left: 95px;
    top: -52px;
  }

  .hero-astronaut .astronaut-rocket {
    width: 55px;
    left: 230px;
    top: -53px;
  }

  .hero-content {
    margin-top: 20px;
  }

  .hero-content .title,
  .hero-content .info {
    margin-top: 10px;
  }

  .hero-buttons {
    margin-top: 20px;
  }

  .asteroid-1 {
    width: 30px;
    right: 320px;
    top: 830px;
  }

  .asteroid-2 {
    width: 40px;
    right: 0;
    left: -230px;
    top: 160px;
  }

  .asteroid-3 {
    left: 300px;
    right: 0;
    top: 70px;
    opacity: 0.8;
  }

  .asteroid-4 {
    display: none;
  }
}